<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>SmartRemind</string>
	<key>CFBundleExecutable</key>
	<string>SmartRemindMac</string>
	<key>CFBundleIdentifier</key>
	<string>com.which.smartremind</string>
	<key>CFBundleName</key>
	<string>SmartRemind</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>SmartRemind 需要访问位置信息，以便创建基于位置的提醒。</string>
	<key>NSRemindersUsageDescription</key>
	<string>SmartRemind 需要访问您的提醒事项，以便读取、创建和管理智能提醒。</string>
</dict>
</plist>
